body {
  background-color: #ddd;
  padding: 120px;
  background-image: url(diagonal_striped_brick.webp);
}

fieldset {
  background-color: white;
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.btndaftar {
  background-color: lightgreen;
  width: 360px;
  padding: 20px;
  border-radius: 17px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  border: 0;
}

.btndaftar:active {
  border: 1px solid black;
  color: black;
}
